#userForm{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin: 10px;
}
input{
    margin: 10px;
}

button{
    margin:20px;
}